body {
  background-color: #111111;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  font-size: 0.9rem;
}

.top-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 3rem;
}
.top-nav ul {
  display: flex;
  gap: 1.5rem;
}
.top-nav ul li {
  list-style: none;
}
.top-nav ul li a {
  text-decoration: none;
  color: white;
}

.video-slider {
  width: 100%;
  overflow: hidden;
  position: relative;
  margin-top: 60px;
}
.video-slider .slider-container {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
}
.video-slider .slider-container::-webkit-scrollbar {
  display: none;
}
.video-slider .slider-container .video-item {
  flex: 0 0 33.3333%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-right: 20px;
  scroll-snap-align: start;
}
.video-slider .slider-container .video-item video {
  width: 100%;
  height: auto;
}
.video-slider .slider-container .video-item h1,
.video-slider .slider-container .video-item h4 {
  margin: 10px 0;
  font-size: 16px;
  line-height: 1.2;
}
.video-slider .slider-container .video-item h1 {
  font-size: 20px;
  font-weight: bold;
}
.video-slider .slider-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  border: none;
  color: white;
  font-size: 2rem;
  padding: 0.5rem;
  cursor: pointer;
  z-index: 1;
}
.video-slider .slider-btn.left-btn {
  left: 10px;
}
.video-slider .slider-btn.right-btn {
  right: 10px;
}
.video-slider .slider-btn:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.video-item:not(.hovered) {
  opacity: 0.5;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  bottom: 0;
  margin: 1rem 2.5rem;
  color: gray;
}
footer a {
  color: gray;
}

/* Media Queries for Responsiveness */
@media (max-width: 768px) {
  .video-slider {
    overflow: hidden;
  }
  .video-slider .slider-container .video-item {
    flex: 0 0 100vw;
    margin-right: 0;
  }
  .video-slider .slider-container .video-item video {
    width: 100vw;
    height: auto;
  }
  .video-slider .slider-btn {
    display: block;
  }
}
.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.txt {
  width: 100vw;
  height: 100vh;
  display: flex;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 8rem;
}

.video-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 2em;
  text-align: center;
  font-weight: 900;
}

.flow {
  background-color: white;
  color: #111111;
  display: flex;
  padding: 1em 4em;
  gap: 8rem;
}
.flow h1,
.flow img {
  flex: 1;
}
.flow h1 {
  font-size: 2rem;
  padding-right: 4rem;
  line-height: 5rem;
}

/*# sourceMappingURL=main.css.map */
